@use '../abstracts/variables' as *;

/*========== BASE ==========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body,
button,
input,
textarea {
  font-family: $body-font;
  font-size: $normal-font-size;
}
body {
  background: $body-color;
  color: $txt-color;
  transition: 0.4s; /* for dark/light mode animation */
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: $container-color;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: $first-color;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: darken($first-color, 25%);
}
