@use '../abstracts/variables' as *;

/*========== BASE ==========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body,
button,
input,
textarea {
  font-family: $body-font;
  font-size: $normal-font-size;
}
body {
  background: $body-color;
  color: $txt-color;
  transition: 0.4s; /* for dark/light mode animation */
}
