@use '../abstracts/variables' as *;

button {
  cursor: pointer;
  border-radius: $border-inside-radius;
  padding: 0.6rem 1.2rem;

  border: 1px solid transparent;
  background-color: $container-color;
  color: $txt-color;
  transition: border-color 0.25s;

  font-weight: 500;
  font-size: $normal-font-size;
  @media screen and (min-width: 320px) {
    font-size: $txt-font-size;
  }

  &:hover {
    border-color: $border-color;
  }
  &:focus {
    outline: 4px auto -webkit-focus-ring-color;
  }
}
