@use '../abstracts/variables' as *;

.repeatAutoMinmax {
  grid-area: bottomRight;

  color: $title-color;
  background-color: $container-color;

  $colors-list: $first-color, $second-color, $third-color, $txt-color-light;
  @each $item in $colors-list {
    $i: index($colors-list, $item);
    & > :nth-child(#{$i}) {
      background-color: $item;
    }
  }
}
