doctype html
head
  meta(charset='UTF-8')
  title UI Layouts
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  // ========== FAVICON ==========
  link(href=require('../../assets/img/css.svg') rel='icon')
  // ========== SCSS ==========
  link(href=require('../../assets/scss/styles.scss') rel='stylesheet')
include ../components/header.pug
+header

main.homeParent
  aside.leftSide
    p Sidebar Left
  article.homeMain
    .homeChild(contenteditable)
      h1 ツ
  aside.rightSide
    p Sidebar Right

footer
  p Footer
script(src=require('../main.js') type='module')