doctype html
head
  meta(charset='UTF-8')
  title UI Layouts
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  // ========== FAVICON ==========
  link(href='../../assets/img/css.svg' rel='icon')
  // ========== SCSS ==========
  link(href='../../assets/scss/styles.scss' rel='stylesheet')
body
  main.container
    .gridSections
      section.bluePattern
        article.blueContainer
          .one
          .two
          .three
          .four
          .five

      section.resizeCards
        article.resContainer
          .one First Column
          .two Second Column
          .three Third Column

      section.greenCalendar 
        article Main Title
        - var n = 1;
        .dates
          while n <= 8
            article= `0${n++}`

      section.repeatAutoMinmax
        - 
          const squares = [
            'First',
            'Second',
            'Third',
            'Fourth',
            'Fifth',
          ]
        each i in squares
          article= i

script(src='../main.js' type='module')