doctype html
head
  meta(charset='UTF-8')
  title UI Layouts
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  // ========== FAVICON ==========
  link(href=require('../../assets/img/css.svg') rel='icon')
  // ========== SCSS ==========
  link(href=require('../../assets/scss/styles.scss') rel='stylesheet')
body
  main.container
    .gridSections
      section.bluePattern
        article.blueContainer
          .one
          .two
          .three
          .four 
          .five

      section.resizeCards
        article.resContainer
          .one First Column
          .two Second Column
          .three Third Column

      section.greenCalendar 
        article Main Title
        - var n = 1;
        .dates
          while n <= 8
            article= n++

      section.repeatAutoMinmax  
        h1 4

script(src=require('../main.js') type='module')