doctype html
head
  meta(charset='UTF-8')
  title UI Layouts
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  // ========== FAVICON ==========
  link(href='../../assets/img/css.svg' rel='icon')
  // ========== SCSS ==========
  link(href='../../assets/scss/styles.scss' rel='stylesheet')
body
  main.photoMosaic

    .wide.tall
    .wide
    div
    div
    .wide.tall
    div
    div
    .wide
    div
    div
    div
    div

script(src='../main.js' type='module')