@use '../abstracts/variables' as *;

.container {
  position: absolute;
  inset: 0;
  margin: auto;

  width: 75%;
  height: fit-content;
  max-width: 33rem;

  @media screen and (min-width: 1024px) {
    max-width: 54rem;
  }
}

.gridSections {
  gap: 2rem;
  display: grid;
  margin: 0 auto;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    'topLeft'
    'topRight'
    'bottomLeft'
    'bottomRight';

  @media screen and (max-width: 640px) {
    margin: 3rem auto;
    max-width: 284px;
  }
  @media screen and (min-width: 640px) {
    grid: 1fr 1fr / 1fr 1fr;
    grid-template-areas:
      'topLeft topRight'
      'bottomLeft bottomRight';
  }

  & > * {
    //☝🏽 To all child elements:
    display: grid;
    place-items: center;
    resize: both;
    overflow: hidden;

    @media screen and (min-width: 640px) {
      aspect-ratio: 1;
    }
    @media screen and (min-width: 1024px) {
      aspect-ratio: 12 / 7;
    }
  }
}
