@use '../abstracts/variables' as *;

/* 
.container {
} 
*/

.gridSections {
  width: 100%;
  height: 100%;
  position: absolute;

  display: grid;
  grid-template-areas:
    'topLeft topRight'
    'bottomLeft bottomRight';
  padding: 1rem 3rem;
  gap: 2rem;
  place-items: center;

  & > * {
    width: 100%;
    height: 100%;

    max-width: 412px;
    max-height: 240px;

    display: grid;
    place-items: center;
    resize: both;
    overflow: hidden;
  }
}

.aspectRatio {
  grid-area: topLeft;
  background-color: $first-color;
}

.resizeCards {
  grid-area: topRight;
  background-color: $fourth-color;
}

.clampCenter {
  grid-area: bottomLeft;
  background-color: $third-color;
}

.repeatAutoMinmax {
  grid-area: bottomRight;
  background-color: $container-color;
}
