@use '../abstracts/variables' as *;

.container {
  width: 75%;
  height: fit-content;
  max-width: 948px;

  position: absolute;
  inset: 0;
  margin: auto;
}

.gridSections {
  display: grid;
  gap: 2rem;
  grid-template-areas:
    'topLeft'
    'topRight'
    'bottomLeft'
    'bottomRight';
  @media screen and (min-width: 640px) {
    grid-template-areas:
      'topLeft topRight'
      'bottomLeft bottomRight';
  }

  & > * {
    //☝🏽 To all child elements:
    display: grid;
    place-items: center;
    resize: both;
    overflow: hidden;

    @media screen and (min-width: 640px) {
      aspect-ratio: 1;
    }
    @media screen and (min-width: 1024px) {
      aspect-ratio: 13 / 8;
    }
  }
}

.aspectRatio {
  grid-area: topLeft;
  background-color: $first-color;
}

.resizeCards {
  grid-area: topRight;
  background-color: $fourth-color;
}

.clampCenter {
  grid-area: bottomLeft;
  background-color: $third-color;
}

.repeatAutoMinmax {
  grid-area: bottomRight;
  background-color: $container-color;
}
